@import url('assets/style/fonts.css');


.breadcrumb {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
    font-weight: bold;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}
.paragraph-class {
    font-family:'WebFont', sans-serif ;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    /* Другие стили для параграфа с этим классом */
}
h1 {
    font-size: 64px;
    color: #1F3F68;
}
.contact-h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
h3 {
    font-size: 36px;
    text-align: center;
}
h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}
input,
textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

/* Стиль кнопки Submit */
.submit-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}


.submit-button .carton-symbol {
    background: #f5f5f5; /* Цвет фона для символа */
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.submit-button .buttons-text {
    flex: 1; /* Занимает всю доступную ширину */
}

