.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header .container {
    display: flex;
    padding: 0 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    margin-top: 20px;
}   

.logo h1 {
    color: #2D66EE;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}
.header .nav a {
    color: var(--gray-900, #101828); 
    font-feature-settings: 'clig' off, 'liga' off; 
    text-decoration: none; 
}

.nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    
}

.nav li {
 
    color: var(--gray-900, #101828);
font-feature-settings: 'clig' off, 'liga' off;
font-family: SF Pro Text;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.154px;
}

.contacts {
    display: flex;
    gap: 32px;
    color: #2D66EE;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
}

.phone-number, .email {
    display: flex;
    align-items: center;
    gap: 8px;
}

.phone-number {
    gap: 0;
}

.phone-number span {
    padding: 0 4px;
}
    body {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.common-section {
    padding: 40px 0;
    background: #F2F4F7;
}

.common-section--white {
    background-color: #FFF;
}


.title h2 {
    color: #101828;
    font-family: "Inter";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    margin-bottom: 20px;
}

.title h3 {
    color:  #101828;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    margin-top: 30px;
}

.title p {
    margin-top: 0;
    color: #101828;
    font-family: "SF Pro Text";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.title span {
    color: #306FF5;
}