@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:rgb(63, 162, 162);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Form styles */
  #pizza-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #pizza-form select,
  #pizza-form input[type="checkbox"] {
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #pizza-form button {
    width: 50%;
  }
  
  #result h3 {
    margin-top: 0;
  }
  
  #result p {
    margin-bottom: 5px;
  }